#anaOgeler{
    font-family: Lobster, sans-serif;
}
#islemler{
    color: #a9a9a9;
}
.tarih-icon:hover{
    color:#000000;
}
.saat-icon:hover{
    color:#000000;
}
.misafir-icon:hover{
    color:#000000;
}
.check-icon:hover{
    color:#000000;
}
.btn{
    color: #a9a9a9;
}
.btn:hover{
    color: #000000;
}
.tempus-dominus-widget.dark{
    color: #808080;
    background-color: #f5f5f5;
    border-radius: 2%;
}
.tempus-dominus-widget.dark .date-container-days .dow {
    color: #000000;
}
#anaSayfa {
    display: flex;
    flex-wrap: nowrap; 
    gap: 3px; /* Kartlar arasındaki boşluk */
    justify-content: center;
}
/* Kutu stili */
.custom-card {
    background-color: #f5f5f5;
    padding: 10px; /* İç boşluk */
    border: 1px solid #808080;
    border-radius: 4px;
    color: #808080;
    font-size: small;
}




