#anaOgeler{
    font-family: Lobster, sans-serif;
}
#islemler{
    color: #a9a9a9;
}
.tarih-icon:hover{
    color:#000000;
}
.saat-icon:hover{
    color:#000000;
}
.misafir-icon:hover{
    color:#000000;
}
.check-icon:hover{
    color:#000000;
}
.btn{
    color: #a9a9a9;
}
.btn:hover{
    color: #000000;
}
.tempus-dominus-widget.dark{
    color: #808080;
    background-color: #f5f5f5;
    border-radius: 2%;
}
.tempus-dominus-widget.dark .date-container-days .dow {
    color: #000000;
}
#anaSayfa {
    display: flex;
    flex-wrap: nowrap; 
    gap: 3px; /* Kartlar arasındaki boşluk */
    justify-content: center;
}
/* Kutu stili */
.custom-card {
    background-color: #f5f5f5 ;
    padding: 6px;
    border-radius: 4px;
    color: salmon;
    text-align: center;
    border: 1px outset #000000;
    transition: background-color 0.4s, color 0.4s, border-radius 0.4s;
    font-size: small;
}
.custom-card:hover{
    background-color: #f5f5f5;
    color: #000000;
    border-radius: 20px;
    transition: 5ms;

}

.container-alan{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    gap: 10px;
    
}
.eleman{
    background-color: #f5f5f5 ;
    padding: 4px;
    border-radius: 4px;
    color: salmon;
    text-align: center;
    border: 1px outset #000000;
    transition: background-color 0.4s, color 0.4s, border-radius 0.4s;
}
.eleman:hover{
    background-color: #f5f5f5;
    color: #000000;
    border-radius: 20px;
    transition: 5ms;
    
}
.container-misafir{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.adetler{
    border-radius: 70%;
    background-color: pink;
    padding: 5px;
    gap: 5px;
}
.container-kapsam{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.container-soru{
    margin-top: 20px;
    margin-bottom: 20px;
}

.sorucümlesi{
    font-size: large; 
    color:#a9a9a9;
}
